<div class="card">
    <div class="card-header text-center">
        <h4> <i class="fa-solid fa-barcode"></i> Search GTIN </h4>
    </div>
    <div class="card-body">
        <form action="{% url 'srchgtin'%}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="srchgtin" name="gtinasked"
                    placeholder="Enter GTIN">
            </div>
            <button type="submit" class="btn btn-primary my-2">Search</button>
        </form>
    </div>
</div>